# Pymaceuticals Inc.
---

### Analysis

- Add your analysis here. Need to write at least 3 observations or inferences from the data

In [13]:
# Data Science Libraries
import pandas as pd
import numpy as np

# Visualization
import matplotlib.pyplot as plt
import seaborn as sns

# Regression/Modelling Libraries
from scipy.stats import linregress
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [14]:
# Add Data Files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single DataFrame
comb_df = pd.merge(study_results, mouse_metadata, on="Mouse ID", how="left")

# Display the data table for preview
comb_df.head()

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
0,b128,0,45.0,0,Capomulin,Female,9,22
1,f932,0,45.0,0,Ketapril,Male,15,29
2,g107,0,45.0,0,Ketapril,Female,2,29
3,a457,0,45.0,0,Ketapril,Female,11,30
4,c819,0,45.0,0,Ketapril,Male,21,25

In [15]:
# Change the column names to be easily readable and allow for dot notation
comb_df.columns = [x.lower().replace(" ", "_") for x in comb_df.columns]
comb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1893 entries, 0 to 1892
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   mouse_id            1893 non-null   object
 1   timepoint           1893 non-null   int64
 2   tumor_volume_(mm3)  1893 non-null   float64
 3   metastatic_sites    1893 non-null   int64
 4   drug_regimen        1893 non-null   object
 5   sex                 1893 non-null   object
 6   age_months          1893 non-null   int64
 7   weight_(g)          1893 non-null   int64
dtypes: float64(1), int64(4), object(3)
memory usage: 118.4+ KB

In [18]:
# Check number of mice
comb_df.mouse_id.nunique()

249

In [27]:
# Find the duplicate mouse by ID number and Timepoint
comb_df[comb_df.duplicated(["mouse_id", "timepoint"])] # Got this from: https://www.geeksforgeeks.org/find-duplicate-rows-in-a-dataframe-based-on-all-or-selected-columns/

,mouse_id,timepoint,tumor_volume_(mm3),metastatic_sites,drug_regimen,sex,age_months,weight_(g)
137,g989,0,45.000000,0,Propriva,Female,21,26
360,g989,5,47.570392,0,Propriva,Female,21,26
681,g989,10,49.880528,0,Propriva,Female,21,26
869,g989,15,53.442020,0,Propriva,Female,21,26
1111,g989,20,54.657650,1,Propriva,Female,21,26

In [28]:
# Create a clean DataFrame by removing the duplicate mouse (by its ID)
filt = comb_df.mouse_id != "g989" # Making a filter so all mice that don't have the Mouse I
df = comb_df[filt]

In [29]:
# Number of mice in clean DataFrame
df.mouse_id.nunique()

248

# Summary Statistics
- Only need to use 1 of the methods (per the Rubric, just need to get the summary statistics via groupby and that a new dataframe is created)

In [ ]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Groupby Drug Regimen and find Mean, Median, Variance, Std. Dev. and Standard Error for the Tumor Volume

In [ ]:
# A more advanced method to generate a summary statistics table of mean, median, variance, standard deviation,
# and SEM of the tumor volume for each regimen (only one method is required in the solution)

# Using the aggregation method, produce the same summary statistics in a single line

# Bar and Pie Charts

In [ ]:
# Pandas bar chart; x-axis = Drug Regimen; y-axis = Mouse Id/Timepoints

In [ ]:
# Pyplot bar chart

In [ ]:
# Pandas pie chart; male vs. female mice

In [ ]:
# Pyplot bar chart

# Quartiles, Outliers and Boxplots

In [ ]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original DataFrame to get the tumor volume at the last timepoint

In [ ]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes

    
    # add subset 

    
    # Determine outliers using upper and lower bounds

In [ ]:
# Box plot that shows the distribution of the tumor volume for each treatment group (can be any method--just use seaborn)

# Line and Scatter Plots

In [ ]:
# Generate a line plot of tumor volume vs. time point for a single mouse treated with Capomulin

In [ ]:
# Generate a scatter plot of mouse weight vs. the average observed tumor volume for the entire Capomulin regimen

# Correlation and Regression

In [ ]:
# Calculate the correlation coefficient and a linear regression model 
# for mouse weight and average observed tumor volume for the entire Capomulin regimen

# Use linregress for this